body
{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 5px #333;
    background-color: #ebebeb;
}

main
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 1000px;
    box-shadow: 0px 0px 25px 5px;
}

.navbar-brand
{
    padding-left: 50px;
    margin-top: 2px;
}

.nav-item
{
    padding-right: 50px;
}


#about
{
    background-color: #8b9dc3;
    font-size: 18px;
    color: white;
}

#projects
{
    
    text-align: center;
    font-size: 20px !important;
    padding-bottom: 50px;
}

#projects .project
{
    margin-top: 25px;
}

#contactMe
{
    background-color: #8b9dc3;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

#contactMe a
{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

#contactMe h2
{
    margin-right: 15px;
    margin-left: 15px;
}

address
{
    font-size: 20px;
}

#contactMe a.btn
{
    font-size: 20px;
    max-height: 50px;
    max-width: 50px;
}

#contactMe a.btn:hover
{
    background-color: #0077b5;
}

#contactMe a:hover
{
    text-decoration: none !important;
    color: #0077b5;
    transition: 0.3s;
}

#contactMe h2
{
    padding-top: 5%;
    margin-bottom: 5%;
}

#projects img
{
    width: 100%;
    height: 250px;
}

#description
{
    padding-left: 10%;
    padding-top: 10%;
}

#selfPic
{
    max-height: 350px;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-top: 15%;
    margin-left: -15px;
}

.project
{
    margin-top: 5%;
    border-style: outset;
    background-color: white;
    box-shadow: 5px 5px 15px;
    height: 98%;
    width: 98%;
}


.fa-linkedin
{
    color: #0077b5;
}

.fa-github
{
    color: #6e5494
}

.fa-free-code-camp
{
    color: #006400;
}

.fa-codepen
{
    color: black;
}